<div class="modal fade" id="createBrandModal" tabindex="-1" role="dialog" aria-labelledby="createBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createBrandModalLabel">Create New Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="brandName">Brand Name</label>
                    <input type="text" class="form-control" id="brandName" v-model="newBrand.name" placeholder="Enter brand name">
                </div>
                <div class="form-group">
                    <label for="brandDescription">Description</label>
                    <textarea class="form-control" id="brandDescription" v-model="newBrand.description" placeholder="Enter brand description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="createBrand">Create</button>
            </div>
        </div>
    </div>
</div>
