<div class="modal fade" id="editBrandModal" tabindex="-1" role="dialog" aria-labelledby="editBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBrandModalLabel">Edit Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editBrandName">Brand Name</label>
                    <input type="text" class="form-control" id="editBrandName" v-model="editBrand.name" placeholder="Enter brand name">
                </div>
                <div class="form-group">
                    <label for="editBrandDescription">Description</label>
                    <textarea class="form-control" id="editBrandDescription" v-model="editBrand.description" placeholder="Enter brand description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="updateBrand">Save Changes</button>
            </div>
        </div>
    </div>
</div>
