/* static/css/styles.css */

body {
}

.card-img-top {
    height: 300px;
    object-fit: scale-down;
}

.img-fluid {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.card-text {
    color: #555;
}

.card {
    min-height: 580px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.rating .fa-star,
.rating .fa-star-half-alt,
.rating .fa-star {
    color: #ffc107;
}
