{% extends "base.html" %}
            <h3>Product Information</h3>

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3>Product Information</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{ product.name }}</td>
                        <td>${{ product.price }}</td>
                        <td>1</td>
                        <td>${{ product.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h3>Customer Information</h3>
            <form action="{{ url_for('checkout', product_id=product.id) }}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
                </div>

               <button type="submit" class="btn btn-primary">Checkout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
