<div class="modal fade" id="editUnitModal" tabindex="-1" role="dialog" aria-labelledby="editUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUnitModalLabel">Edit Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editUnitName">Unit Name</label>
                    <input type="text" class="form-control" id="editUnitName" v-model="editUnit.name" placeholder="Enter unit name">
                </div>
                <div class="form-group">
                    <label for="editUnitDescription">Description</label>
                    <textarea class="form-control" id="editUnitDescription" v-model="editUnit.description" placeholder="Enter unit description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="updateUnit">Save Changes</button>
            </div>
        </div>
    </div>
</div>
